<!DOCTYPE html>
<html lang="zh-CN">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="css/base.css" type="text/css" rel="stylesheet"/>
<link href="css/index.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="js/jquery.js"></script>
</head>

<body>
<div class="header">
	<div class="top">
    	<div class="left">
        	<a class="title" href="#" title="教师招聘题库">教师招聘题库</a>
        </div>
        <div class="top_nav">
            <ul class="left">
                <li><a href="#" title="教师招聘题库">教师招库</a></li>
                <li><a href="#" title="教师招聘题库">教师招题库</a></li>
                <li><a href="#" title="教师招聘题库">教师招聘1题库</a></li>
                <li><a href="#" title="教师招聘题库">教师招聘1题库</a></li>
                <li><a href="#" title="教师招聘题库">教师招聘1题库</a></li>
                <li><a href="#" title="教师招聘题库">教师招聘1题库</a></li>
                <li><a href="#" title="教师招聘题库">教师招聘1题库</a></li>
                <li><a href="#" title="教师招聘题库">教师招聘1题库</a></li>
                <li><a href="#" title="教师招聘题库">教师招聘1题库</a></li>
                <li><a href="#" title="教师招聘题库">教师招聘1题库</a></li> 
            </ul>
            <a href="javascript:void(0);" class="more">更多<i></i></a>
        </div>
    	<div class="right">
        	<a href="#" class="mobile"><i></i>手机客户端</a>
        	<a href="#" class="user"><i></i><span>qq_sldkfjslfj</span></a>
        </div>
    </div>
    <div class="nav">
    	<div class="main_box">
        	<div class="left">
                <a class="logo" href="#" title="教师招聘题库"><img src="images/header_logo.png" width="46" height="44" /></a>
                <a class="site_name" href="#" title="教师招聘题库">教师招聘题库</a>
                <span class="house_name">[&nbsp;中学综合素质&nbsp;]</span>
            </div>
            <ul class="right">
            	<li><a href="#" title="">练习与模考</a></li>
            	<li><a class="cur" href="#" title="">能力评估报告</a></li>
            	<li><a href="#" title="">我的练习</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="main">
	<div class="main_box assess">
        <div class="list_box">
        	<div class="top">
            	<div class="title">
                	<p class="left">教师招聘题库依据最新的教师招聘题库中级经济基础考试大纲智能评估你的考试能力</p>
                	<p class="right">报告生成时间：2015-04-16</p>
                </div>
                <div class="content">
                	<div class="left">
                        <dl>
                            <dt>
                                <div class="digital">
                                    <span class="big"> ? </span>分
                                </div>
                                <p>预测分<span><label>|</label>总分 0</span></p>
                            </dt>
                            <dd>
                                全站排名：
                                <span class="right">? / ? 名</span>
                            </dd>
                            <dd>
                                全站平均预测分：
                                <span class="right">24 分</span>
                            </dd>
                        </dl>
                    </div>
                	<div class="left amount">
                        <dl>
                            <dt>
                                <div class="digital">
                                    <span class="big"> ? </span>道
                                </div>
                                <p>答题量</p>
                            </dt>
                            <dd>
                                全站排名：
                                <span class="right">? / ? 名</span>
                            </dd>
                            <dd>
                                全站平均答题量：
                                <span class="right">24 道</span>
                            </dd>
                        </dl>
                    </div>
                    <div class="right">
                    	
                    </div>
                </div>
            </div>
            <div class="list">
            	<div class="title">
                	<p>能力图表</p>
                </div>
                <table cellspacing="1" cellpadding="0" border="0" bgcolor="#e0e0e0">
                    <tbody>
                        <tr class="title">
                            <th class="name">考点</th>
                            <th class="count">答题卡</th>
                            <th class="per">正确率</th>
                            <th class="capacity">能力评估</th>
                        </tr>
                        <tr class="level1" data-id="1" parent-id="0">
                            <td class="name">
                                <span class="sprite-expand open"></span>
                                相关与回归分析
                            </td>
                            <td>
                                <span class="slide-progress-left">
                                	<span class="fill" style="width:0%"></span>
                                </span>
                                <span class="slide-progress-right">0道/5道</span>
                            </td>
                            <td>0%</td>
                            <td>
                                <span title="再多答些题，点亮小星星吧！">
                                    <span class="grey-star"></span>
                                    <span class="grey-star"></span>
                                    <span class="grey-star"></span>
                                    <span class="grey-star"></span>
                                    <span class="grey-star"></span>
                                </span>
                            </td>
                        </tr>
                        <tr class="level2" data-id="2" parent-id="1">
                            <td class="name">
                                <span class="sprite-expand open"></span>
                                相关与回归分析
                            </td>
                            <td>
                                <span class="slide-progress-left">
                                	<span class="fill" style="width:0%"></span>
                                </span>
                                <span class="slide-progress-right">0道/5道</span>
                            </td>
                            <td>0%</td>
                            <td>
                                <span title="再多答些题，点亮小星星吧！">
                                    <span class="grey-star"></span>
                                    <span class="grey-star"></span>
                                    <span class="grey-star"></span>
                                    <span class="grey-star"></span>
                                    <span class="grey-star"></span>
                                </span>
                            </td>
                        </tr>
                        <tr class="level3" data-id="4" parent-id="2">
                            <td class="name">
                                相关与回归分析
                            </td>
                            <td>
                                <span class="slide-progress-left">
                                	<span class="fill" style="width:0%"></span>
                                </span>
                                <span class="slide-progress-right">0道/5道</span>
                            </td>
                            <td>0%</td>
                            <td>
                                <span title="再多答些题，点亮小星星吧！">
                                    <span class="grey-star"></span>
                                    <span class="grey-star"></span>
                                    <span class="grey-star"></span>
                                    <span class="grey-star"></span>
                                    <span class="grey-star"></span>
                                </span>
                            </td>
                        </tr>
                        <tr class="level2" data-id="3" parent-id="1">
                            <td class="name">
                                <span class="sprite-expand open"></span>
                                相关与回归分析
                            </td>
                            <td>
                                <span class="slide-progress-left">
                                	<span class="fill" style="width:0%"></span>
                                </span>
                                <span class="slide-progress-right">0道/5道</span>
                            </td>
                            <td>0%</td>
                            <td>
                                <span title="再多答些题，点亮小星星吧！">
                                    <span class="grey-star"></span>
                                    <span class="grey-star"></span>
                                    <span class="grey-star"></span>
                                    <span class="grey-star"></span>
                                    <span class="grey-star"></span>
                                </span>
                            </td>
                        </tr>
                        <tr class="level1" data-id="5" parent-id="0">
                            <td class="name">
                                <span class="sprite-expand open"></span>
                                相关与回归分析
                            </td>
                            <td>
                                <span class="slide-progress-left">
                                	<span class="fill" style="width:0%"></span>
                                </span>
                                <span class="slide-progress-right">0道/5道</span>
                            </td>
                            <td>0%</td>
                            <td>
                                <span title="再多答些题，点亮小星星吧！">
                                    <span class="grey-star"></span>
                                    <span class="grey-star"></span>
                                    <span class="grey-star"></span>
                                    <span class="grey-star"></span>
                                    <span class="grey-star"></span>
                                </span>
                            </td>
                        </tr>
                        <tr class="level1" data-id="6" parent-id="0">
                            <td class="name">
                                <span class="sprite-expand open"></span>
                                相关与回归分析
                            </td>
                            <td>
                                <span class="slide-progress-left">
                                	<span class="fill" style="width:0%"></span>
                                </span>
                                <span class="slide-progress-right">0道/5道</span>
                            </td>
                            <td>0%</td>
                            <td>
                                <span title="再多答些题，点亮小星星吧！">
                                    <span class="grey-star"></span>
                                    <span class="grey-star"></span>
                                    <span class="grey-star"></span>
                                    <span class="grey-star"></span>
                                    <span class="grey-star"></span>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="footer">
    <div class="main_box">
    	<p>
            <a target="_blankabout" href="#">网站声明</a>
            <span>|</span>
            <a target="_blankabout" href="#">联系方式</a>
            <span>|</span>
            <a target="_blankabout" href="#">加入我们</a>
        </p>
        <p>客服电话：4000-888-566&nbsp;010-62168566</p>
    </div>
</div>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>
</html>
