<!DOCTYPE html>
<html lang="zh-CN">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="css/base.css" type="text/css" rel="stylesheet"/>
<link href="css/index.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="js/jquery.js"></script>
</head>

<body>
<div class="header">
	<div class="top">
    	<div class="left">
        	<a class="title" href="#" title="教师招聘题库">教师招聘题库</a>
        </div>
        <div class="top_nav">
            <ul class="left">
                <li><a href="#" title="教师招聘题库">教师招库</a></li>
                <li><a href="#" title="教师招聘题库">教师招题库</a></li>
                <li><a href="#" title="教师招聘题库">教师招聘1题库</a></li>
            </ul>
            <a href="javascript:void(0);" class="more">更多<i></i></a>
        </div>
    	<div class="right">
        	<a href="#" class="mobile"><i></i>手机客户端</a>
        	<a href="#" class="user"><i></i><span>qq_sldkfjslfj</span></a>
        </div>
    </div>
    <div class="nav">
    	<div class="main_box">
        	<div class="left">
                <a class="logo" href="#" title="教师招聘题库"><img src="images/header_logo.png" width="46" height="44" /></a>
                <a class="site_name" href="#" title="教师招聘题库">教师招聘题库</a>
                <span class="house_name">[&nbsp;中学综合素质&nbsp;]</span>
            </div>
            <ul class="right">
            	<li><a href="#" title="">练习与模考</a></li>
            	<li><a href="#" title="">能力评估报告</a></li>
            	<li><a class="cur" href="#" title="">我的练习</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="main">
	<div class="main_box exercise">
        <div class="list_box note">
            <ul class="top" id="navLink">
                <li>
                    <a href="/jiaoshi/zxzhsz/favorite">我的收藏本</a>
                    <span></span>
                </li>
                <li>
                    <a href="/jiaoshi/zxzhsz/history">练习历史</a>
                    <span></span>
                </li>
                <li>
                    <a href="/jiaoshi/zxzhsz/incorrect">错题集</a>
                    <span></span>
                </li>
                <li class="cur">
                    <a href="/jiaoshi/zxzhsz/note">我的笔记</a>
                    <span></span>
                </li>
            </ul>
            <div class="content">
                <ul>
                	<li class="level1" parent-id="0" data-id="1">
                    	<p>
                            <span class="sprite-expand open"></span>
                            相关与回归分析（共1道题）
                        </p>
                        <div class="right">
                        	<a href="/jiaoshi/zxzhsz/Favorite?siteId=22431">查看题目</a>
                        </div>
                    </li>
                	<li class="level2" parent-id="1" data-id="2">
                    	<p>
                            <span class="sprite-expand open"></span>
                            相关与回归分析（共1道题）
                        </p>
                        <div class="right">
                        	<a href="/jiaoshi/zxzhsz/Favorite?siteId=22431">查看题目</a>
                        </div>
                    </li>
                	<li class="level2" parent-id="1" data-id="3">
                    	<p>
                            <span class="sprite-expand open"></span>
                            相关与回归分析（共1道题）
                        </p>
                        <div class="right">
                        	<a href="/jiaoshi/zxzhsz/Favorite?siteId=22431">查看题目</a>
                        </div>
                    </li>
                	<li class="level3" parent-id="3" data-id="4">
                    	<p>
                            <span class="sprite-expand open"></span>
                            相关与回归分析（共1道题）
                        </p>
                        <div class="right">
                        	<a class="grey" href="/jiaoshi/zxzhsz/Favorite?siteId=22431">查看题目</a>
                        </div>
                    </li>
                	<li class="level1" parent-id="0" data-id="5">
                    	<p>
                            <span class="sprite-expand open"></span>
                            相关与回归分析（共1道题）
                        </p>
                        <div class="right">
                        	<a href="/jiaoshi/zxzhsz/Favorite?siteId=22431">查看题目</a>
                        </div>
                    </li>
                	<li class="level1" parent-id="0" data-id="6">
                    	<p>
                            <span class="sprite-expand open"></span>
                            相关与回归分析（共1道题）
                        </p>
                        <div class="right">
                        	<a href="/jiaoshi/zxzhsz/Favorite?siteId=22431">查看题目</a>
                        </div>
                    </li>
                	<li class="level2" parent-id="6" data-id="7">
                    	<p>
                            <span class="sprite-expand open"></span>
                            相关与回归分析（共1道题）
                        </p>
                        <div class="right">
                        	<a href="/jiaoshi/zxzhsz/Favorite?siteId=22431">查看题目</a>
                        </div>
                    </li>
                	<li class="level3" parent-id="7" data-id="8">
                    	<p>
                            <span class="sprite-expand open"></span>
                            相关与回归分析（共1道题）
                        </p>
                        <div class="right">
                        	<a class="grey" href="/jiaoshi/zxzhsz/Favorite?siteId=22431">查看题目</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <a class="back-to-top" href="javascript:void(0);"><span></span></a>
    </div>
</div>
<div class="clear"></div>
<div class="footer">
    <div class="main_box">
    	<p>
            <a target="_blankabout" href="#">网站声明</a>
            <span>|</span>
            <a target="_blankabout" href="#">联系方式</a>
            <span>|</span>
            <a target="_blankabout" href="#">加入我们</a>
        </p>
        <p>客服电话：4000-888-566&nbsp;010-62168566</p>
    </div>
</div>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>
</html>
