<!DOCTYPE html>
<html lang="zh-CN">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="css/base.css" type="text/css" rel="stylesheet"/>
<link href="css/report_page.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="js/jquery.js"></script>
</head>

<body>
<div class="header">
	<div class="top">
    	<div class="left">
        	<a class="title" href="#" title="教师招聘题库">教师招聘题库</a>
        </div>
        <div class="top_nav">
            <ul class="left">
                <li><a href="#" title="教师招聘题库">教师招库</a></li>
                <li><a href="#" title="教师招聘题库">教师招题库</a></li>
                <li><a href="#" title="教师招聘题库">教师招聘1题库</a></li>
            </ul>
            <a href="javascript:void(0);" class="more">更多<i></i></a>
        </div>
    	<div class="right">
        	<a href="#" class="mobile"><i></i>手机客户端</a>
        	<a href="#" class="user"><i></i><span>qq_sldkfjslfj</span></a>
        </div>
    </div>
    <div class="nav">
    	<div class="main_box">
        	<div class="left">
                <a class="logo" href="#" title="教师招聘题库"><img src="images/header_logo.png" width="46" height="44" /></a>
                <a class="site_name" href="#" title="教师招聘题库">教师招聘题库</a>
                <span class="house_name">[&nbsp;中学综合素质&nbsp;]</span>
            </div>
            <ul class="right">
            	<li><a href="#" title="">练习与模考</a></li>
            	<li><a href="#" title="">能力评估报告</a></li>
            	<li><a href="#" title="">我的练习</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="main">
	<div class="main_box">
        <div class="list_box">
        	<ul class="left_box">
            	<li class="ico">
                	<i></i>
                </li>
            	<li>
                	<a class="cur" href="javascript:void(0);" title="查看报告">查看报告</a>
                </li>
            	<li>
                	<a href="javascript:void(0);" title="查看报告">查看报告</a>
                </li>
            	<li class="code">
                	<p>扫描二维码下载手机端</p>
                    <img src="images/jiaoshi_code.jpg" width="120" height="120" />
                    <p>教师资格万题库</p>
                </li>
            </ul>
        	<div class="right_box">
            	<div class="title_box">
                	<p>模考练习：快速智能练习</p>
                    <span>交卷时间：<strong>2015-04-24 15:01</strong></span>
                </div>
                <div class="content_box">
                	<div class="summary_1">
                    	<div class="left">
                        	<p>本次练习15道，你答对了</p>
                            <p class="score">
                                <span class="big">1</span>道
                            </p>
                        </div>
                        <ul>
                        	<li>
                                <a part-data="part_1" question-data="question_1" class="false" href="javascript:void(0);">1</a>
                                <a part-data="part_1" question-data="question_2" class="false" href="javascript:void(0);">2</a>
                                <a part-data="part_1" question-data="question_3" class="true" href="javascript:void(0);">3</a>
                                <a part-data="part_1" question-data="question_4" class="false" href="javascript:void(0);">4</a>
                                <a part-data="part_2" question-data="question_5" class="false" href="javascript:void(0);">5</a>
                            </li>
                        	<li>
                                <a part-data="part_1" question-data="question_1" class="false" href="javascript:void(0);">1</a>
                                <a part-data="part_1" question-data="question_2" class="false" href="javascript:void(0);">2</a>
                                <a part-data="part_1" question-data="question_3" class="true" href="javascript:void(0);">3</a>
                                <a part-data="part_1" question-data="question_4" class="false" href="javascript:void(0);">4</a>
                                <a part-data="part_2" question-data="question_5" class="false" href="javascript:void(0);">5</a>
                            </li>
                        	<li>
                                <a part-data="part_1" question-data="question_1" class="false" href="javascript:void(0);">1</a>
                                <a part-data="part_1" question-data="question_2" class="false" href="javascript:void(0);">2</a>
                                <a part-data="part_1" question-data="question_3" class="true" href="javascript:void(0);">3</a>
                                <a part-data="part_1" question-data="question_4" class="false" href="javascript:void(0);">4</a>
                                <a part-data="part_2" question-data="question_5" class="false" href="javascript:void(0);">5</a>
                            </li>
                        </ul>
                    </div>
                	<div class="summary_2">
                    	<div class="left">
                        	<p>本次练习你得到了</p>
                            <p class="score">
                                <span class="big">1</span>分
                            </p>
                        </div>
                        <ul>
                        	<li>
                            	<p>全站平均得分：</p>
                                <span>23.61 分</span>
                            </li>
                        	<li>
                            	<p>已击败考生：</p>
                                <span>0%</span>
                            </li>
                        	<li>
                            	<p>答题时间：</p>
                                <span>0/120 分钟</span>
                            </li>
                        	<li>
                            	<p>答题量：</p>
                                <span>0/34 道</span>
                            </li>
                        	<li>
                            	<p>总分：</p>
                                <span>150分</span>
                            </li>
                        </ul>
                    </div>
                    <div class="point_box">
                    	<p class="title">能力图表</p>
                        <table cellspacing="1" cellpadding="0" border="0" bgcolor="#e0e0e0">
                            <tbody>
                                <tr class="title">
                                    <th class="name">考点</th>
                                    <th class="count">答题卡</th>
                                    <th class="per">正确率</th>
                                    <th class="capacity">能力评估</th>
                                </tr>
                                <tr class="level1" data-id="1" parent-id="0">
                                    <td class="name">
                                        <span class="sprite-expand open"></span>
                                        相关与回归分析
                                    </td>
                                    <td>
                                        <span class="slide-progress-left">
                                            <span class="fill" style="width:0%"></span>
                                        </span>
                                        <span class="slide-progress-right">0道/5道</span>
                                    </td>
                                    <td>0%</td>
                                    <td>
                                        <span title="再多答些题，点亮小星星吧！">
                                            <span class="grey-star"></span>
                                            <span class="grey-star"></span>
                                            <span class="grey-star"></span>
                                            <span class="grey-star"></span>
                                            <span class="grey-star"></span>
                                        </span>
                                    </td>
                                </tr>
                                <tr class="level2" data-id="2" parent-id="1">
                                    <td class="name">
                                        <span class="sprite-expand open"></span>
                                        相关与回归分析
                                    </td>
                                    <td>
                                        <span class="slide-progress-left">
                                            <span class="fill" style="width:0%"></span>
                                        </span>
                                        <span class="slide-progress-right">0道/5道</span>
                                    </td>
                                    <td>0%</td>
                                    <td>
                                        <span title="再多答些题，点亮小星星吧！">
                                            <span class="grey-star"></span>
                                            <span class="grey-star"></span>
                                            <span class="grey-star"></span>
                                            <span class="grey-star"></span>
                                            <span class="grey-star"></span>
                                        </span>
                                    </td>
                                </tr>
                                <tr class="level3" data-id="4" parent-id="2">
                                    <td class="name">
                                        相关与回归分析
                                    </td>
                                    <td>
                                        <span class="slide-progress-left">
                                            <span class="fill" style="width:0%"></span>
                                        </span>
                                        <span class="slide-progress-right">0道/5道</span>
                                    </td>
                                    <td>0%</td>
                                    <td>
                                        <span title="再多答些题，点亮小星星吧！">
                                            <span class="grey-star"></span>
                                            <span class="grey-star"></span>
                                            <span class="grey-star"></span>
                                            <span class="grey-star"></span>
                                            <span class="grey-star"></span>
                                        </span>
                                    </td>
                                </tr>
                                <tr class="level2" data-id="3" parent-id="1">
                                    <td class="name">
                                        <span class="sprite-expand open"></span>
                                        相关与回归分析
                                    </td>
                                    <td>
                                        <span class="slide-progress-left">
                                            <span class="fill" style="width:0%"></span>
                                        </span>
                                        <span class="slide-progress-right">0道/5道</span>
                                    </td>
                                    <td>0%</td>
                                    <td>
                                        <span title="再多答些题，点亮小星星吧！">
                                            <span class="grey-star"></span>
                                            <span class="grey-star"></span>
                                            <span class="grey-star"></span>
                                            <span class="grey-star"></span>
                                            <span class="grey-star"></span>
                                        </span>
                                    </td>
                                </tr>
                                <tr class="level1" data-id="5" parent-id="0">
                                    <td class="name">
                                        <span class="sprite-expand open"></span>
                                        相关与回归分析
                                    </td>
                                    <td>
                                        <span class="slide-progress-left">
                                            <span class="fill" style="width:0%"></span>
                                        </span>
                                        <span class="slide-progress-right">0道/5道</span>
                                    </td>
                                    <td>0%</td>
                                    <td>
                                        <span title="再多答些题，点亮小星星吧！">
                                            <span class="grey-star"></span>
                                            <span class="grey-star"></span>
                                            <span class="grey-star"></span>
                                            <span class="grey-star"></span>
                                            <span class="grey-star"></span>
                                        </span>
                                    </td>
                                </tr>
                                <tr class="level1" data-id="6" parent-id="0">
                                    <td class="name">
                                        <span class="sprite-expand open"></span>
                                        相关与回归分析
                                    </td>
                                    <td>
                                        <span class="slide-progress-left">
                                            <span class="fill" style="width:0%"></span>
                                        </span>
                                        <span class="slide-progress-right">0道/5道</span>
                                    </td>
                                    <td>0%</td>
                                    <td>
                                        <span title="再多答些题，点亮小星星吧！">
                                            <span class="grey-star"></span>
                                            <span class="grey-star"></span>
                                            <span class="grey-star"></span>
                                            <span class="grey-star"></span>
                                            <span class="grey-star"></span>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
	<a class="back-to-top" href="javascript:void(0);"><span></span></a>
</div>
<div class="clear"></div>
<div class="footer">
    <div class="main_box">
    	<p>
            <a target="_blankabout" href="#">网站声明</a>
            <span>|</span>
            <a target="_blankabout" href="#">联系方式</a>
            <span>|</span>
            <a target="_blankabout" href="#">加入我们</a>
        </p>
        <p>客服电话：4000-888-566&nbsp;010-62168566</p>
    </div>
</div>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/summary.js"></script>
</body>
</html>
